{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}

    <h1>LUCAS  LURO  ALVES</h1>

    <p id="me">E-mail: lucas.luro@gmail.com<br>
    27 yo , brazilian, single<br>
    Phone Number: +55  11 9 7019-1753</p><br><br><br>
    <section id="sch-lan">
        <div class="row">
            <div class="schooling col-lg-6">
                <h2>SCHOOLING</h2>
                <p>University Education		DIREITO – FMU – São Paulo – SP – completed;</p><br><br><br>
            </div>
            <div class="languages col-lg-6">
                <h2>LANGUAGES</h2>
                <p>Portuguese and English Both Fluent</p><br><br><br>
            </div>
        </div>
    </section>    
    <h2 id="resumeh2">PROFESSIONAL EXPERIENCE</h2>

    <section id="profexp">
    <div class="row">
        <div class="emprego col-lg-6">
            <h4>Dux Cripto</h4>
            <h5>Function: Manager and Instructor</h5><br>
            <p>Management of 20 simultaneous accounts (and it’s operators) related to the NFT Game Axie Infinity. Instruction and accountability of every operator within those accounts daily. Selecting operators and usage of KPIs to decide if the existing ones had to be replaced or expelled from the enterprise and lecturing them on how to perform better in the activity.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Everest Inc.</h4>
            <h5>Function: Account Manager</h5><br>
            <p>Management of NFT Games accounts and it’s NFTs and Cripto Currencies, it’s transactions and designations to 12- simultaneous accounts related to the NFT Game Axie Infnity.</p>
        </div>     
        <div class="emprego col-lg-6">
            <h4>BIRD CIA (+Botafogo eSports)</h4>
            <h5>Function: General Manager</h5><br>
            <p>Procedure and people management, contract analysis, comercial deals and meetings attendance, admission procedures attendance, production and analysis of digital content, elaboration, feeding and updating of sheets and influencer management.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Freelance</h4>
            <h5>Area: Translations and Paralegal Contractual Consulting</h5><br>
            <p>Translation of scientific articles and commercial/corporative texts. Elaboration, revision and modification of many kinds of contracts, as a paralegal.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Agência Geek+ Event Producing</h4>
            <h5>Function: Sales Representative</h5><br>
            <p>Prospection; cold mailing; cold calling; attending and leading of commercial meetings; follow up with clients; elaboration and development for digital content projects.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Rádio Geek BR/Geeks Digital Content Producer</h4>
            <h5>Function: Sales Representative</h5><br>
            <p>Prospection; cold mailing; cold calling; attending and leading of commercial meetings; follow up with clients; elaboration and development for digital content projects.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Ministério Público – SP: 4ª Promotoria Criminal da Barra Funda(DA's Office)</h4>
            <h5>Function: Intern</h5><br>
            <p>Attending and analysing police investigations and criminal processes of common justice in São Paulo.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Pedroso Advogados Associados(Attorney's Office)</h4>
            <h5>Function: Intern</h5><br>
            <p>Attending and analysing judicial processes in labor law, civilian law and tax law.</p>
        </div>
        <div class="emprego col-lg-6">
            <h4>Raphael Lopes Ribeiro (Attorney's Office)</h4>
            <h5>Function: Intern</h5><br>
            <p>Attending and analysing judicial processes in labor law, civilian law and social security law.</p>
        </div>
    </div>
    </section>

{% endblock %}